<div class="container">
<h2>My Recipes:</h2>
<div class="row">
<% results.forEach(function(recipe){%>
	<div class="col l3 m4 s12">
		<div class="row">
			<h5><%=recipe.title%></h5>
			<a href="/recipes/myrecipes/<%=recipe.id%>" class="btn-floating btn-large waves-effect waves-light green accent-2"><i class="material-icons">info_outline</i></a>
			<a href="/recipes/myrecipes/<%=recipe.id%>" class="btn-floating btn-large waves-effect waves-light red accent-2"><i class="material-icons">delete</i></a>
		</div>
		<div class="row">
			<% if(!recipe.user_img){%>
			<img class="responsive-img" src="<%=recipe.img_url%>">
			<%}else{%>
			<img class="responsive-img" src="https://res.cloudinary.com/<%=process.env.CLOUDINARY_CLOUD_NAME%>/image/upload/<%=recipe.user_img%>.jpg">
			<%}%>
		</div>
	</div>
<%})%>
</div>
</div>