<h2><%= recipe.title %> -- Edit</h2>

<form class="edit-form" action="/myrecipes/edit/<%=recipe.id%>" method="PUT">
	<label>Recipe Title</label>
	<input id="new-title" type="text" name="title" value="<%= recipe.title%>">
	
	<input hidden type="text" name="id" id="recipe-id" value="<%=recipe.id%>">

	<label>Ingredients</label>
	<input id="new-ingredients" type="text" name="ingredients" value="<%=recipe.ingredients%>" placeholder="<%=recipe.ingredients%>">

	<label>Image URL</label>
	<input type="text" name="img_url" id="img-url" value="<%=recipe.img_url%>">

	<label>Directions</label>
	<input type="text" name="directions" id="new-directions" value="<%=recipe.directions%>" placeholder="type directions separated by a semicolon (;) here!">

	<label>My Notes</label>
	<textarea type="text" name="notes" id="new-notes" value="<%=recipe.notes%>" placeholder="Jot some notes down here! to separate by line, put a ; between notes"></textarea>

	<input type="submit" value="Edit Recipe" class="btn waves-effect waves-light edit-my-recipe">
</form>