<div class="container">
<div class="row">
	<h2><%= recipe.title %> - Edit</h2>
</div>
<div class="row">
	<form class="col s12 edit-form" action="/myrecipes/edit/<%=recipe.id%>" method="PUT">
		<div class="row">
			<div class="input-field col s12">
				<label>Recipe Title</label>
				<input id="new-title" type="text" name="title" value="<%= recipe.title%>">
			</div>
		</div>
		<input hidden type="text" name="id" id="recipe-id" value="<%=recipe.id%>">
		<div class="row">
			<div class="input-field col s12">
				<label>Ingredients</label>
				<input id="new-ingredients" type="text" name="ingredients" value="<%=recipe.ingredients%>" placeholder="<%=recipe.ingredients%>">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<label>Image URL</label>
				<input type="text" name="img_url" id="img-url" value="<%=recipe.img_url%>">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<label>Directions</label>
				<input type="text" name="directions" id="new-directions" value="<%=recipe.directions%>" placeholder="type directions separated by a semicolon (;) here!">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<label>My Notes</label>
				<textarea type="text" name="notes" id="new-notes" value="<%=recipe.notes%>" placeholder="Jot some notes down here! to separate by line, put a ; between notes"></textarea>
			</div>
		</div>
		<div class="row">
			<input type="submit" value="Edit Recipe" class="btn waves-effect waves-light edit-my-recipe">
		</div>
	</form>
</div>
<div class="row"></div>
</div>