<h2><%=recipe.title%></h2>
<h4>Published by: <%=recipe.publisher%></h4>
<img src="<%=recipe.img_url%>">
<h4><%=recipe.ingredients%></h4>
<h3>For directions and nutrient information, visit: </h3>
<a href="<%=recipe.source_url%>"><%=recipe.publisher%></a>