<h2><%= recipe.title %> - Add to My Recipes</h2>

<form class="edit-form" action="/recipes/myrecipes" method="POST">
	<label>Recipe Title</label>
	<input id="new-title" type="text" name="title" value="<%= recipe.title%>">
	
	<input hidden type="text" name="id" id="recipe-id" value="<%=recipe.id%>">

	<input hidden type="text" name="rId" id="recipe-source-id" value="<%=recipe.rId%>">

	<input hidden type="text" name="source_url" id="source-url" value="<%=recipe.source_url%>">

	<input hidden type="text" name="publisher" id="publisher-name" value="<%=recipe.publisher%>">

	<label>Ingredients</label>
	<input id="new-ingredients" type="text" name="ingredients" value="<%=recipe.ingredients%>">

	<label>Image URL</label>
	<input type="text" name="img_url" id="img-url" value="<%=recipe.img_url%>">

	<label>Directions</label>
	<input type="text" name="directions" id="new-directions" value="<%=recipe.directions%>" placeholder="comma separated instructions">

	<button class="btn waves-effect waves-light" type="submit">Add Recipe
		<i class="material-icons right">send</i>
	</button>
</form>