<div class="container">
<div class="row">
	<h2><%=recipe.recipe.title%></h2>
	<form method="POST" action="/recipes/wishlist">
		<input hidden type="text" name="rId" value="<%=recipe.recipe.recipe_id%>">
		<input hidden type="text" name="title" value="<%=recipe.recipe.title%>">
		<input hidden type="text" name="ingredients" value="<%=recipe.recipe.ingredients%>">
		<input hidden type="text" name="source_url" value="<%=recipe.recipe.source_url%>">
		<input hidden type="text" name="img_url" value="<%=recipe.recipe.image_url%>">
		<input hidden type="text" name="publisher" value="<%=recipe.recipe.publisher%>">
		<button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>
	</form>
</div>
<div class="row">
	<div class="col l6 m6 s12">
		<div class="row">
			<h5>Published by: <%=recipe.recipe.publisher%></h5>
		</div>
		<div class="row">
			<img class="responsive-img" src="<%=recipe.recipe.image_url%>">
		</div>
	</div>
	<div class="col l1 m1 s0"></div>
	<div class="col l5 m5 s12">
		<div class="row">
			<h5>Ingredients:</h5>
		</div>
		<div class="row">
			<ul>
			<% var ingredients = recipe.recipe.ingredients; %>
			<% ingredients.forEach(function(ingredient){%>
				<li><%=ingredient%></li>
			<%})%>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col l6 m6 s12">
		<div class="row">
			<h5>For directions and nutrient information: </h5>
		</div>
	</div>
	<div class="col l1 m1 s0"></div>
	<div class="col l5 m5 s12">
		<div class="row">
			<h5><a href="<%=recipe.recipe.source_url%>"><%=recipe.recipe.publisher%></a></h5>
		</div>
	</div>
</div>
</div>