<div class="container">
	<div class="row">
		<h2>Wishlist:</h2>
	</div>
<%if(results){%>
	<div class="row">
		<div id="columns">
		<% results.forEach(function(recipe){%>
			<div class="card pin">
				<div class="card-image">
					<img class="card-image-pin" src="<%=recipe.img_url%>">
					<a href="/recipes/wishlist/<%=recipe.id%>" class="btn-floating waves-effect waves-light green accent-2"><i class="material-icons">info_outline</i></a>
					<a href="/recipes/wishlist/add/<%=recipe.id%>" class="btn-floating pink accent-2"><i class="material-icons">add</i></a>
					<a href="/recipes/wishlist/<%=recipe.id%>" class="btn-floating waves-effect waves-light red accent-2 delete-recipe-favorites"><i class="material-icons">delete</i></a>
				</div>
				<div class="card-content pin-p">
					<p>
						<% var re = /\&\#8217\;/; %>
          				<% var reT = /\&amp\;/; %>
						<% if(recipe.title.search(re)){%>
							<% var title = recipe.title.replace(re, '\''); %>
							<%if(recipe.title.search(reT)){%>
								<% title = recipe.title.replace(reT, '\&');%>
							<%}%>
							<h6><%=title%></h6>
						<%}else{%>
							<h6><%=recipe.title%></h6>
						<%}%>
					</p>
				</div>
			</div>
			<%})%>
		</div>
	</div>
<%}else{%>
	
	<div class="row">
		<div class="col s12">
		<h4>No recipes yet! Click on the search tab to find some recipes you might be interested in. Maybe try...
		<% var searches = ['pear', 'pasta', 'shredded chicken', 'garlic', 'apple', 'pie', 'turkey', 'souffle'];%>
		<% var termEx = Math.floor(Math.random() * Math.floor(8));%>
		<%=searches[termEx]%>!</h4>
		</div>
	</div>
<%}%>
<div class="row"></div>
</div>
	