<div class="container">
<h2><%= recipe.title %> -- Edit</h2>

<form class="edit-form" action="recipes/wishlist/edit/<%=recipe.id%>" method="PUT">
	<label>Recipe Title</label>
	<input id="new-title" type="text" name="title" value="<%= recipe.title%>">
	
	<input hidden type="text" name="id" id="recipe-id" value="<%=recipe.id%>">

	<label>Ingredients</label>
	<input id="new-ingredients" type="text" name="ingredients" value="<%=recipe.ingredients%>">

	<label>Image URL</label>
	<input type="text" name="img_url" id="img-url" value="<%=recipe.img_url%>">

	<input type="submit" value="Edit Recipe" class="btn waves-effect waves-light edit-recipe">
</form>
</div>