<div class="container">
<% if(!recipe.directions){%>
<div class="row">
	<h2><%=recipe.title%></h2>
</div>
<div class="row">
	<div class="col l6 m6 s12">
		<div class="row">
			<h5>Published by: <%=recipe.publisher%></h5>
		</div>
		<div class="row">
			<img class="responsive-img" src="<%=recipe.img_url%>">
		</div>
	</div>
	<div class="col l1 m1 s0"></div>
	<div class="col l5 m5 s12">
		<div class="row">
			<h5>Ingredients:</h5>
		</div>
		<div class="row">
			<ul>
			<% var ingredients = [];%>
			<% var re = /,(?!\s)/; %>
			<% ingredients = recipe.ingredients.split(re); %>
			<% ingredients.forEach(function(ingredient){%>
				<li><%=ingredient%></li>
			<%})%>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col l6 m6 s12">
		<div class="row">
			<h5>For directions and nutrient information: </h5>
		</div>
	</div>
	<div class="col l1 m1 s0"></div>
	<div class="col l5 m5 s12">
		<div class="row">
			<h5><a href="<%=recipe.source_url%>"><%=recipe.publisher%></a><h5>
		</div>
	</div>
</div>
<%}else{%>
<div class="row">
	<h2><%=recipe.title%></h2>
</div>
<div class="row">
	<div class="col l6 m6 s12">
		<div class="row">
			<h5>Published by: <%=recipe.publisher%></h5>
		</div>
		<div class="row">
			<img class="responsive-img" src="<%=recipe.img_url%>">
		</div>
	</div>
	<div class="col l1 m1 s0"></div>
	<div class="col l5 m5 s12">
		<div class="row">
			<h5>Ingredients:</h5>
		</div>
		<div class="row">
			<ul>
			<% var ingredients = [];%>
			<% var re = /,(?!\s)/; %>
			<% ingredients = recipe.ingredients.split(re); %>
			<% ingredients.forEach(function(ingredient){%>
				<li><%=ingredient%></li>
			<%})%>
			</ul>
		</div>
		<div class="row">
			<h5>Directions:</h5>
		</div>
		<div class="row">
			insert recipe directions here
		</div>
	</div>
</div>
<div class="row">
	<div class="col l6 m6 s12">
		<div class="row">
			<h5>My Notes: </h5>
		</div>
		<div class="row">
			<ul>
				<li>notes</li>
			</ul>
		</div>
	</div>
	<div class="col l1 m1 s0"></div>
	<div class="col l5 m5 s12">
		<div class="row">
			<h5>For nutrient information: <a href="<%=recipe.source_url%>"><%=recipe.publisher%></a></h5>
		</div>
	</div>
</div>
<%}%>
<div class="fixed-action-btn horizontal">
	<a class="btn-floating btn-large deep-purple accent-1">
		<i class="large material-icons">arrow_drop_down</i>
	</a>
	<ul>
		<li><a href="/recipes/wishlist/edit/<%=recipe.id%>" class="btn-floating indigo accent-2"><i class="material-icons">mode_edit</i></a></li>
		<li><a href="/recipes/wishlist/add/<%=recipe.id%>" class="btn-floating pink accent-2"><i class="material-icons">add</i></a></li>
		<li><a href="/recipes/wishlist/<%=recipe.id%>" class="btn-floating red accent-2 delete-recipe-favorites"><i class="material-icons">delete</i></a></li>
	</ul>
</div>
</div>